:root{
    --color-text: #fff;
}

.card-video-div img{
    min-width: 500px;
}

.date {
    color: #6941C6;
    font-weight: 600;
    font-size: 0.875rem;
    /* background-color: red; */
}

.link-container{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
    margin: 0;
}

.link-container p{
    color: var(--color-text);
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0;
}

.link-container i{
    color: var(--color-text);
    font-weight: 600;
    font-size: 1.25rem;
    margin: 0;
}

