    <div class="card-video-div">
        <img src="https://i.postimg.cc/XYPB8PZQ/1366-2000.jpg" alt="">
        {# <img src="{{ image }}" alt=""> #}
        <p class='date'>{{text}} </p>
        <a href="{{ url }}" class="link-container">
            <p>{{text_url}}</p>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </a>
    </div>