    <div class="card-video-div">
        <img src="https://i.postimg.cc/XYPB8PZQ/1366-2000.jpg" alt="">
        <p class='date'>{{text}} </p>
        <div>
            <a href="{{url}}">{{text_url}}</a>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </div>
    </div>